[Unit]
Description=IPBlink
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/ipblink
Type=simple

[Install]
WantedBy=multi-user.target
